<?xml version="1.0" encoding="UTF-8" ?>
<!--mybatis 主配置文件-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    <settings>-->
<!--    &lt;!&ndash;        控制mybatis日志&ndash;&gt;-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!--    </settings>-->

    <typeAliases>
        <package name="lzd.zju.domain"/>
    </typeAliases>

    <!--    sql mapper的位置,从类路径开始target/classes-->
    <mappers>
        <package name="lzd.zju.dao"/>
    </mappers>
</configuration>