<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="service01" class="com.zju.service.impl.SomeServiceImpl">
    </bean>

    <bean id="ss" class="com.zju.service.impl.School">
        <property name="name" value="仙游中学" />
        <property name="grade" value="9" />
    </bean>

    <bean id="service02" class="com.zju.service.impl.SomeServiceImpl" autowire="byName">
        <property name="a" value="a"/>
        <property name="b" value="b"/>
    </bean>

    <!--    文件io流-->
    <bean id="myfile" class="java.io.File">
        <constructor-arg name="parent" value="C:\Users\Administrator\Desktop" />
        <constructor-arg name="child" value="test.txt" />
    </bean>

</beans>